<head>
	<script src="https://use.fontawesome.com/99b4443b52.js"></script>
	<link rel="stylesheet" type="text/css" href="newstyle.css">

	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">


</head>
<body>
	<div class="wrapper">
		<div class="contact-main">
			<div class="contact-main-item">
				<div class="contact-item-head">
					<div class="contact-head-1">01/</div>
					<div class="contact-head-2">GET IN<br> TOUCH</div>
				</div>
				<p class="contact-item-quote">But if you just want most popular (browser-based) web application development stacks, that would probably some combination of the following: Front-end: HTML / Javascript / CSS Back-end: PHP / Java / Javascript / Ruby / .NET / Python</p>
				<div class="contact-item-social">
					<div class="contact-social-item"><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a><span class="contact-social-content">0495 2800421</span> </div>
					<div class="contact-social-item"><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a><span class="contact-social-content">olive@gm.com</span> </div>
					<div class="contact-social-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><span class="contact-social-content">@olive</span></div>
					<div class="contact-social-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><span class="contact-social-content">/olive.com</span></div>

				</div>
			</div>

			<div class="contact-main-item">
				<div class="contact-item-head">
					<div class="contact-head-1">02/</div>
					<div class="contact-head-2">SEND US<br>A MESSAGE</div>
				</div>
				<div class="contact-item-form">
					<div class="contact-form-item">
						<input type="text" placeholder="YOUR NAME" size="50px" />
					</div>
					<div class="contact-form-item">
						<input type="text" placeholder="EMAIL ADDRESS" size="50px" />
					</div>
					<div class="contact-form-item">
						<input type="text" placeholder="TELEPHONE NUMBER" size="50px" />
					</div>
					<div class="contact-form-item">
						<input type="text" placeholder="YOUR MESSAGE" size="50px" />
					</div>
					<button class="contact-form-button">SEND MESSAGE</button>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
