<head>
	<script src="https://use.fontawesome.com/99b4443b52.js"></script>
	<link rel="stylesheet" type="text/css" href="newstyle.css">
	<style type="text/css">
		i{
			font-size: 4em;
		}
	</style>
</head>
<body>
<div class="wrapper">
	<div class="contact-main">
		<div class="contact-main-item">
			<div class="contact-item-head">
				<div class="contact-head-1">01/</div>
				<div class="contact-head-2">GET IN<br> TOUCH</div>
			</div>
			<div class="contact-item-quote">But if you just want most popular (browser-based) web application development stacks, that would probably some combination of the following: Front-end: HTML / Javascript / CSS Back-end: PHP / Java / Javascript / Ruby / .NET / Python</div>
			<div class="contact-item-social">
				<div class="contact-social-item"><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a></div>
				<div class="contact-social-item"><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a> </div>
				<div class="contact-social-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
				<div class="contact-social-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></div>

			</div>
		</div>

		<div class="contact-main-item">
			<div class="contact-item-head">
				<div class="contact-head-1">02/</div>
				<div class="contact-head-2">SEND US<br>A MESSAGE</div>
			</div>
			<div class="contact-item-form">
				<input type="textbox" name="name" value="YOUR NAME" size="50px" />
				<input type="textbox" name="name" value="EMAIL ADDRESS" size="50px" />
				<input type="textbox" name="name" value="TELEPHONE NUMBER" size="50px" />
				<input type="textbox" name="name" value="YOUR MESSAGE" size="50px" />
			</div>
		</div>
	</div>
</div>
</body>
