<!DOCTYPE html>
<html>
<head>
	<title>home page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<link rel="stylesheet" href="newstyle.css">
	<script src="https://use.fontawesome.com/99b4443b52.js"></script>

</head>
<body>
	<div class="wrapper">
		<header>
			<div class="header-logo">Logo</div>
			<div class="header-social">
				<a href="fb.com/olive"><img src="img/facebook.png" width="40px" height="40px"></a>
				<a href="twiter.com/olive"><img src="img/twit.png" width="40px" height=40px></a>
				<a href="youtube/olive"><img src="img/youtube.png" width="35px" height=35px></a>
				<a href="google-plus/olive"><img src="img/google-plus.png" width="35px" height=35px></a>
			</div>
		</header>

		<main>
			<div class="main-sub">
				<a href="Service.html"><div class="tile tile5"><i class="fa fa-cogs" aria-hidden="true"></i>Service</div></a>
				<a href="#"><div class="tile tile4">demo</div></a>
				<a href="#"><div class="tile tile3">demo</div></a>
				<a href="contact.html"><div class="tile tile2"><i class="fa fa-snapchat-ghost" aria-hidden="true"></i>Contact</div></a>
				<a href="works.html"><div class="tile tile1"><i class="fa fa-briefcase" aria-hidden="true"></i><br/>Work</div></a>
			</div>
			<div class="main-sub">
				<a href="#"><div class="tile tile6">demo</div></a>
				<a href="about.html"><div class="tile tile7"><i class="fa fa-info-circle" aria-hidden="true"></i><br>About</div></a>
			</div> 
		</main>
	</div>
</body>
</html>
