<!DOCTYPE html>
<html>
<head>
	<title>home page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<link rel="stylesheet" href="newstyle.css">
	<script src="https://use.fontawesome.com/99b4443b52.js"></script>

</head>
<body>
	<div class="wrapper">
	<!--header-->
		<header>
			<div class="header-logo">
				<div class="logo-img"><img src="img/btn6.jpg" alt="olive_logo" height="90px" width="60px"></div>
				<div class="logo-name">Logo</div> 
			</div>
			<div class="header-social">
				<a href="#"><img src="img/facebook.png" width="40px" height="40px"></a>
				<a href="#"><img src="img/twit.png" width="40px" height=40px></a>
				<a href="#"><img src="img/youtube.png" width="35px" height=35px></a>
				<a href="#"><img src="img/google-plus.png" width="35px" height=35px></a>
			</div>
		</header>
	<!--main-->
		<main>
			<div class="main-sub">
				<a class="tile tile5" href="Service.html"><i class="fa fa-cogs" aria-hidden="true"></i><br>Service</a>
				<a class="tile tile4" href="#"><br>demo</a>
				<a class="tile tile3" href="#"><br>demo</a>
				<a class="tile tile2" href="contact.html"><i class="fa fa-snapchat-ghost" aria-hidden="true"></i><br>Contact</a>
				<a class="tile tile1" href="works.html"><i class="fa fa-briefcase" aria-hidden="true"></i><br>Work</a>
			</div>
			<div class="main-sub">
				<a class="tile tile6" href="#"><br>demo</a>
				<a class="tile tile7" href="#"><i class="fa fa-info-circle" aria-hidden="true"></i><br>About</a>
			</div>	 
		</main>
	</div>
</body>
</html>
